<form method="post" action="{{ path('backoffice_comment_delete', {'id': comment.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1" onsubmit="return confirm('Voulez-vous supprimer ce commentaire ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">
    <button class="btn">Supprimer</button>
</form>