{% extends "backoffice/layout.html.twig" %}

{% block content %}

    <h2>Ajout d'un commentaire</h2>
    {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(formView.comment, {'attr': {'class':'geronimo'}}) }}
    <button class="btn btn-primary">Valider</button>
    {{ form_end(formView) }}

    <p>
        <a href="{{ path('backoffice_comment_index') }}" class="btn btn-dark my-2 my-sm-0 col-sd-1">Retour à la liste</a>
    </p>

{% endblock %}