{% extends "backoffice/layout.html.twig" %}

{% block content %}

    <h2>Ajout d'un utilisateur</h2>
    {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(formView.name, {'attr': {'class':'geronimo'}}) }}
    {{ form_end(formView) }}
    <button class="btn btn-primary">Valider</button>

    <p>
        <a href="{{ path('backoffice_user_index') }}">Retour à la liste</a>
    </p>

{% endblock %}