{% extends 'backoffice/layout.html.twig' %}

{% block title %}
    Utilisateurs
{% endblock %}

{% block content %}
    <main>
        <h2>Utilisateurs</h2>
        <ul>
            {% for user in users %}
                <li>
                    <a href="{{ path('backoffice_user_show', {id:user.id}) }}">
                        {{ user.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <p>
            <a href="{{ path('backoffice_user_add') }}">Ajouter un utilisateur</a>
        </p>
    </main>
{% endblock %}