{# <footer class="text-muted text-center dark bg-dark py-5">
    <div class="container">
        <p class="mb-1">2021 &copy; GetLinked. Tous droits réservés</p>
    </div>
</footer> #}

{# <footer className="footer">
    <div className="footer__sponsors">
        <img src={itunes} alt="" />
        <img src={shazam} alt="" />
    </div>
    <ul className="footer__ul">
        <li className="footer__ul__li">Accueil</li>
        <li className="footer__ul__li">Artistes</li>
        <li className="footer__ul__li">Evenements</li>
        <li className="footer__ul__li">Organisateurs</li>
        <li className="footer__ul__li">FAQ</li>
        <li className="footer__ul__li">Connexion</li>
    </ul>
    <div className="footer__sponsors">
        <img src={soundcloud} alt="" />
        <img src={spotify} alt="" />
    </div>
</footer> #}