body {
    background-image: url('https://cdn.pixabay.com/photo/2015/05/15/14/50/concert-768722_960_720.jpg');
    background-size: cover;  
}

.navbar{
    /* background: linear-gradient(90deg, #000, 70%, #a9a9a9); */
    list-style-type: none;
    opacity: 0.8;
}

.dropdown-menu, .dropdown-item:hover, .collapse navbar-collapse{
    background-color: (255,255,255,4) !important;
    filter:blur (4px);
    backdrop-filter: blur(5px);
    background: rgba( 255, 255, 255, 0.25 );    
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}



.dropdown-item:hover, .nav-item:hover, .btn:hover, a:hover, .active, a.dropdown-toggle, a.navbar-brand{
    color:#CA0E43 !important;   
}

.container__title, .container__title__p{
    color:white;
    text-align: center;
}


footer{
    z-index:0;
    color:black !important;
    
}


