<form method="post" action="{{ path('backoffice_category_delete', {'id': category.id}) }}" class="btn btn-dark my-2 my-sm-0 col-sd-1" onsubmit="return confirm('Voulez-vous supprimer cette categorie ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category.id) }}">
    <button class="btn">Supprimer</button>
</form>