{% extends "backoffice/layout.html.twig" %}

{% block content %}

    <h3>
        Participation
        {{ participation.name }}
    </h3>

    <p>
        <a href="{{ path('backoffice_participation_edit', {id:participation.id}) }}">Editer</a>
        |
        <a href="{{ path('backoffice_participation_delete', {id:participation.id}) }}" onclick="return confirm('Êtes-vous sur de vouloir effectuer cette action ?');">Supprimer</a>
    </p>

    <p>
        <a href="{{ path('backoffice_participation_index') }}">Retour à la liste</a>
    </p>

{% endblock %}