{% extends 'backoffice/layout.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block content %}
    <div class="content parent">
        <div class="content container__home">
            <h2>Page d'administration</h2>
            <p>Bienvenue sur GetLinked</p>
        </div>
    </div>
{% endblock %}
