{% extends 'backoffice/layout.html.twig' %}

{% block title %}Page d'administration
{% endblock %}

{% block content %}
    <div class="container">
    
        <h2 class="container__title">Page d'administration</h2>
        <p class="container__p">
            Bienvenue sur GetLinked
        </p>
    </div>
{% endblock %}
