{% extends 'backoffice/layout.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block content %}
    <div class="content container">
        <h2>Page d'administration</h2>
        <p>
            Bienvenue sur GetLinked
        </p>
    </div>
{% endblock %}
