{% extends 'backoffice/layout.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block content %}
    <div class="content container">
        <h2>GetLinked</h2>
        <p>
            Bienvenue sur le Backoffice !
        </p>
    </div>
{% endblock %}
