{% extends 'backoffice/layout.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block content %}
    <div class="content container">
        <h2>GetLinked</h2>
        <p>
            {% if app.user %}
                Bienvenue
                {{ app.user.firstname }} !
            {% else %}
                <p>
                    Bienvenue sur le Backoffice !
                </p>
            {% endif %}
        </p>
    </div>
{% endblock %}
