{% extends 'backoffice/layout.html.twig' %}

{% block title %}
Nouvel administrateur | {{parent()}}
{% endblock %}

{% block body %}
    <h1>Nouvel utilisateur</h1>

    {{ include('backoffice/admin_user/_form.html.twig') }}

    <a href="{{ path('backoffice_admin user_index') }}">Retour à la liste</a>
{% endblock %}